<h1> Burgers! </h1>

<ul class = "devoured">
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> burgers devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

<h3> Add a burger: </h3>
<form>
  <textarea type="text" name="name" id="burger-type"></textarea>
  <button type= "submit" id="submit"> Submit!</button>
</form>

<ul id="ifeaten">
  {{#each burgers}}
    {{#if devoured}}
      {{!-- {{> burgers}} --}}
    {{/if}}
  {{/each}}
</ul>