<div class="container">
<h1>Burgers!</h1>

<p>Burgers to Devour</p>
<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>


<p class="col-md-12">Devoured Burgers</p>
<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>


<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>


  <button type="submit">Add a burger</button>
</form>
</div>