ul {
  list-style: none;
  }
img{
  display: block;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: lightgoldenrodyellow;
  font-family: 'Itim', cursive;
}
p{
  font-style: italic;
  font-size: larger;
}
form{
  text-align: center;
}
.add-burger{
  text-align: center;
}
h2{
  text-align: center;
}
button{
  background-color: white;

}